/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#cabecera {
text-align: center;
color: white;
font-size: xx-large;
background-size: 100%;
padding: 200px 300px 200px 300px;
background-image:url(/apple-pie/images/apple-pie.jpg);

}

#cuerpo-texto {
  text-align: justify ;
  margin: 5% ;
  padding: 5%;
  font-size: medium;
}

#stats {

  padding: 5%



}
#ingredientes{
  font-weight: bold;
  margin-bottom: 20px;
}
#lista-ingredientes {
margin-top: 50px;  
margin-left: 50px;

}


#cook  {

  padding: 10%

}
#enumeración1 {

padding-bottom: 20px;
}

#directions {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top:  20px;
  margin-left: 50px ;
}

#instrucciones {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top:  20px;
  margin-left: 20px;
}

ol {
text-align: justify;  
margin: 50px;
list-style-type: decimal;
}